.form-check-label2  {
    padding-left : 0px !important;
    padding-right : 20px !important;
}
.form-check-icon  {
    padding-right : 5px;
}
#login-v2 {
    background:url(../../../../assets/images/backgrounds/april.jpg) no-repeat
}